@charset "utf-8"

body{
    background: red url(./ảnh.jpg) no-repeat 10px 50px;
}
#div1{
    width: 7000px;
    height: 500px; 
    position: relative;
    left: 100px;
    top: 100px;
    z-index: 10;
}
#div2{
    width: 200px;
    height: 200px;
//    background-color: chartreuse;
    position: relative;
    position: absolute;
    left: 180px;
    top: 150px;
    z-index: 6;

}
#div3{
    width: 200px;
    height: 200px;
//    background-color: red;
    position: fixed;
    left: 300px;
    top: 100px;
    z-index: 100000; 
}